* {
    box-sizing: border-box;
    font-family: 'B612', sans-serif;
}

body {
    overflow-y: scroll;
    box-sizing: border-box;
    display: block;
    justify-content: space-between;
    padding: 12px;
    background: rgb(194, 226, 225);
    width: 960px;
    margin: 0 auto;
    background-image: url("https://www.keendevelopers.com/wp-content/uploads/2019/04/website-design-background.png");
    /* ~incase i want to add gradient on the background linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), add to backgorund image before url~ */
    background-position: inherit;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
}

nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* CSS for Home/Intro Page */

.intro {
    margin: 12px;
    padding: 12px;
    display: block;
    background: white;
    opacity: 0.6;
    font-size: 13.5px;
    float: inherit;
    margin-top: 130px;
}

.jumbotron {
    margin: 12px;
    padding: 12px;
    display: block;
    background: white;
    opacity: 0.6;
    font-size: 13.5px;
    float: inherit;
    margin-top: 130px;
}


/* CSS for About Me Page */

#passport-photo {
    float: left;
    height: 254px;
    width: 242px;
    position: relative;
    padding: 12px;
    margin: 12px;
}

.about-me {
    margin: 12px;
    padding: 12px;
    display: block;
    background: white;
    opacity: 0.6;
    font-size: 13.5px;
    float: inherit;
    margin-top: 130px;
}


.heading {
    height: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background: white;
    opacity: 0.6;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    float: inherit;
}


.container {
    width: 960px;
    margin: 0 auto;
}

li {
    display: inline;
}

h2 {
    font-size: 25px;
    text-align: left;
}

.h-line {
    width:100%; 
    height:1px; 
    background: black;
}

/* CSS for Contact Page */

.contact {
    margin: 12px;
    padding: 12px;
    display: block;
    background: white;
    opacity: 0.6;
    font-size: 13.5px;
    float: inherit;
    margin-top: 130px;
}

#name {
    height: 25px;
    width: 250px;
}

#email {
    height: 25px;
    width: 250px;
}

#message {
    height: 150px;
    width: 600px;
}


/* CSS for Portfolio Page */

.portfolio {
    margin: 12px;
    padding: 12px;
    display: block;
    background: white;
    opacity: 0.6;
    font-size: 13.5px;
    float: inherit;
    margin-top: 130px;
}

.imgs {
    position: relative;
}

#hangman {
    height: 200px;
    width: 250px;
  }

#game-of-thrones {
    height: 200px;
    width: 250px;
  }

#train-times {
    height: 200px;
    width: 250px;
  }
  


@media screen (max-width:980px) {
 .heading {
     position: static;
 }
 body {
     background-color: lightgray
 }
}

@media screen (max-width:768px) {
 .heading {
    position: static;
 }
 body {
     background-color: lightpink;
 }
}

@media screen (max-width:640px) {
 .heading {
    position: static;
 }
 body {
     background-color: lightseagreen;
 }
}

